@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto&family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.shad {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.07),
    0px 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.dow {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07),
    0px 20px 25px -5px rgba(0, 0, 0, 0.1);
}

input:focus {
  border-bottom: 1px solid black;
  color: black;
}

.send {
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.12);
}

.secBg {
  background-image: url("./assets/sectionBg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.homeBg {
  background-image: url("./assets/homeBg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.background1 {
  background: linear-gradient(
      0deg,
      rgba(3, 102, 56, 0.45) 0%,
      rgba(3, 102, 56, 0.45) 100%
    ),
    url("./assets/heaterServices.png"), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.8s;
}

.background2 {
  background: linear-gradient(
      0deg,
      rgba(255, 102, 0, 0.3) 0%,
      rgba(255, 102, 0, 0.3) 100%
    ),
    url("./assets/housingService.png"), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.8s;
}

.background3 {
  background: linear-gradient(
      0deg,
      rgba(3, 102, 56, 0.45) 0%,
      rgba(3, 102, 56, 0.45) 100%
    ),
    url("./assets/heaterServices.png"), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.8s;
}

.background4 {
  background: linear-gradient(
      0deg,
      rgba(255, 102, 0, 0.3) 0%,
      rgba(255, 102, 0, 0.3) 100%
    ),
    url("./assets/waterServices.png"), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.8s;
}

.background1:hover,
.background2:hover,
.background3:hover,
.background4:hover {
  transform: scale(1.04);
}

.boxShad {
  box-shadow: 0px 0px 60px 30px rgba(0, 0, 0, 0.03);
}

@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
  .homeBg {
    background-image: url("./assets/homeBg.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.hamburger-menu {
  cursor: pointer;
}

.line {
  width: 30px;
  height: 3px;
  /* background-color: #333; */
  margin: 6px 0;
  transition: 0.4s;
}

.hamburger-menu.open .line:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger-menu.open .line:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.open .line:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.navLine {
  background: linear-gradient(270deg, #4543a0 0%, rgba(69, 67, 160, 0) 100%);
}

.activeNav {
  box-shadow: -10px 1px 30px 0px rgba(0, 0, 0, 0.5);
}
